h3{
    background-color: grey;
    text-align: center;
}
span{
    color: rgb(143, 0, 0);
}
.navbar{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-bottom: 380px;
}
.nav-row{
   margin-bottom: 15px;
    overflow: hidden;
}
.nav-btn{
float: left;
display: block;
color: rgb(0, 0, 88);
padding: 10px 15px;
border: 1px solid #ccc;
margin-right: 5px;
border-radius: 3px;
text-decoration: none;
}
.blue{
    background-color: #4fb0d0;
}
.green{
    background-color: #66de66;
}