.container{
    justify-content: center;
    gap: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 300px 300px 300px 300px;
   border: 4px slategrey;
}  
h2{
   text-align: center;
}
.card{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}
.product-image{
    padding: 20px;
}
.product-name{
    font-weight: bold;
    font-size: large;

}
.product-price{
    font-weight: bold;
    color: green;
}