body {
    background-color: rgb(233, 237, 236);
    font-family: Arial, Helvetica, sans-serif;
}

th{
    color: white;
    font-size: 27px;
}

tr{
    background-color: black;
}

 button{
    background-color: blue;
    size: 90px;
 }

 span{
    color: green;
 }
 i{
    color: grey;
 }
 
 .product-card{
    box-shadow:0 4px 8px 0 rgba(60, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow:hidden;
    margin-bottom: 200px;
 }
 .product-image-box{
    width:100%;
    height:auto;
    display:block;
    padding:15px;
    box-sizing:border-box;
 }

 .product-details{
   text-align: left;
 }
 .product-title{
    font-size: 1.1em;
    margin: 10px 0 5px;
    color: #333;}


 .product-description{
    color:rgb(128, 128, 128);
    font-size:1.1em;
    margin-right: 5px;
 }

.add-to-cart{
    border: none;
    outline: 0;
    padding: 10px;
    color:white;
    background-color:#007bff;
    text-align: center;
    cursor:pointer;
    width:100%;
    font-size: 1em;
    border-radius: 4px;
    transition: background-color 0.3s;
}